Package: libkwineffects14
Source: kwin
Version: 4:5.27.11
Architecture: arm64
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Installed-Size: 415
Depends: libc6 (>= 2.32), libepoxy0 (>= 1.0), libkf5configcore5 (>= 5.102.0~), libkf5coreaddons5 (>= 5.102.0~), libkf5i18n5 (>= 5.102.0~), libkwinglutils14 (= 4:5.27.11), libqt5core5t64 (>= 5.15.2~), libqt5gui5t64 (>= 5.15.2~) | libqt5gui5-gles (>= 5.15.2~), libqt5qml5 (>= 5.15.2~), libqt5quick5 (>= 5.15.2~) | libqt5quick5-gles (>= 5.15.2~), libstdc++6 (>= 5)
Breaks: libkwin4-effect-builtins1, libkwineffects13
Replaces: libkwineffects13
Section: libs
Priority: optional
Homepage: https://projects.kde.org/projects/kde/workspace/kwin
Description: KDE window manager effects library
 KWin (pronounced as one syllable "kwin") is the window
 manager for the KDE Plasma Desktop. It gives you complete
 control over your windows, making sure they're not in the way
 but aid you in your task. It paints the window decoration,
 the bar on top of every window with (configurable) buttons
 like close, maximize and minimize. It also handles placing
 of windows and switching between them.
 .
 This package is part of the KDE base workspace module.
